* {
  margin: 0px;
  padding: 0px;
}

button {
  border: none;
}

body {
  position: relative;
  height: 100vh;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form__top-btn {
  background-color: white;
  padding: 10px 30px;
  border: 2px solid black;
  cursor: pointer;
  width: 50%;
}

.form__top-btn:first-child {
  border-right: none;
}

.form__top-btn.active {
  background-color: cyan;
}

.main__form {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__form.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__input {
  text-align: center;
  display: inline-block;
  width: 50%;
  padding: 10px 30px;
  border: none;
  margin: 15px 0px;
}

.form__btn {
  cursor: pointer;
  background-color: grey;
  padding: 10px 30px;
  color: white;
  border-radius: 20px;
}

.form__btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
